{% extends 'base.html.twig' %}

{% block cover %}
    <div class="cover_home" style="background-image: url('{{ asset('image/cover.jpg') }}')">
        <div class="home_title text-center">
            <h1>SNOWTRICKS</h1>
        </div>
        <div class="home_subtitle text-center">
            <p>Ceci est la phrase d'accroche</p>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="custom_title mb-4">Liste des figures </h2>
        {# Message Flash de succes #}
        {% for message in app.session.flashBag.get('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}


        <div class="row">
            {% for trick in tricks %}
                {{ include('layout/card.html.twig', {'trick': trick}) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/cover.js') }}"></script>
{% endblock %}