{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>
            Snowtricks
        </h1>
        <p>Ceci est la phrase d'accroche</p>
    </div>
    <div class="container">
        <h4>
            Ceci est la page d'accueil
        </h4>
    </div>
{% endblock %}