{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>
            Snowtricks
        </h1>
        <p>Ceci est la phrase d'accroche</p>
    </div>
    <div class="container">
        <h2>Liste des figures </h2>

        {# Message Flash de succes #}
        {% for message in app.session.flashBag.get('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}


        <div class="row">
            {% for trick in tricks %}
                {{ include('layout/card.html.twig', {'trick': trick}) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}