/* image */
.trick .label-file img {
    width: 100%;
    height: auto;
}
.trick .error_form-group {
    border: 1px red solid;
}
.image-container label  {
    display: flex;
    align-items: center;
}
.trick .custom-file {
    display: none;
}
.trick .label-file {
    cursor: pointer;
}
.image-control {
    margin-top: 0.5rem;
}
.image-container .form-control {
    padding-bottom: 0.5rem;
    height: auto;
}
.image-container .remove-image {
    cursor: pointer;
    color: #3b5998;
}

.js-rep-success {
    display: none;
}

/* image-uploaded */
.img-preview-upload {
    margin-bottom: 5px;
    width:100%;
    height: 200px;
    object-fit: cover;
}
.image-delete-message{
    display:none;
}

/* Button Video & Image */
.video-add, .video-add:hover, .image-add, .image-add:hover {
    color: #d2691e;
}



