/* header */
.page-header {
    color: #5a5a5a;
}
.page-header h4 {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 25px;
    margin: 20px 0 30px;
}

/* image */
.trick .label-file img {
    width: 100%;
    height: auto;
}

.image-container label  {
    display: flex;
    align-items: center;
}
.trick .custom-file {
    /*display: none;*/
}
.trick .label-file {
    cursor: pointer;
}
.image-control {
    margin-top: 0.5rem;
}
.image-container .form-control {
    padding-bottom: 0.5rem;
    height: auto;
}

/* image-uploaded */
.img-preview-upload {
    margin-bottom: 5px;
    width:100%;
    height: 200px;
    object-fit: cover;
}
.image-delete-message{
    display:none;
}

/* Video */
.video-container .remove-video {
    border-radius: 0 3px 3px 0 !important;
}

