/* Carousel */
.carousel {
    position: relative;
}
.carousel__container {
    overflow: hidden;
}

.carousel__panorama {
    transition: transform 0.3s;
    transform: translate3d(0, 0, 0);
}

.carousel__panorama::after {
    content: '';
    clear: both;
    display:table;
}

.carousel__item {
    float: left;
}

.item {
    margin: 20px 10px;
    background-color: #fff;
    box-shadow: 0 15px 35px #3232321a,0 5px 15px #0000001a;
}

.item__image img {
    width: 100%;
}

.carousel__next, .carousel__prev {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #fff url(right.svg) center center no-repeat;
    background-size: 20px 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    right: -20px;
    box-shadow: 0 15px 35px #3232321a,0 5px 15px #0000001a;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
}

.carousel__next:hover, .carousel__prev:hover {
    transform: scale(1.2);
}

.carousel__prev {
    right: auto;
    left: -20px;
    background-image: url(left.svg);
}

.carousel__prev--hidden, .carousel__next--hidden {
    opacity: 0;
    display: none;
}

/* Commentaire */
.comment__container {
    display: flex;
    margin: 0 15px 0 25px;
    border: 1px lightgrey solid;
    width: 100%;
    padding: 5px;
}
.comment__avatar {
    min-width: 60px;
    max-width: 60px;
    height: 60px;
    object-fit: cover;
    overflow: hidden;
}
.comment__message {
    padding:0 20px;
}

/* ------------------ TEST ----------------*/
.children-monId {

}
/* ------------------ TEST ----------------*/



/* Bouton back home */
.btn_custom {
    margin-bottom: 25px;
}
.btn_custom i {
    opacity: 0;
    margin-right: -15px;
    -webkit-transition: margin-right 0.3s, opacity 0.3s;
    -moz-transition: margin-right 0.3s, opacity 0.3s;
    -o-transition: margin-right 0.3s, opacity 0.3s;
    transition: margin-right 0.3s, opacity 0.3s;
}
.btn_custom:hover i {
    opacity: 1;
    margin-right: 5px;
}

/* Jumbotron */
.badge-custom {
    background: #263c6b;
    color: #FFF;
}