{{ form_start(form, {'attr': {'novalidate' : 'novalidate', 'class' : 'form_avatar'} }) }}


<div class="form-group row">

    <div class="offset-2 col-8 container-avatar image-reader">
        {{ form_widget(form) }}
        <div class="form-control form-group text-center form_avatar_container" style="height:auto;">
            <label for="avatar_avatar" class="label-avatar">
                <img src="{{ asset( '/image/default-image.jpg' ) }}" alt="default-image" class="img-fluid">
            </label>
        </div>
    </div>


    <div class="col-sm-12 text-center">
        <button type="submit" class="btn btn_custom" data-label="Valider">
            Enregistrer
        </button>
    </div>
</div>
{{ form_end(form) }}