<div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><a href="{{ path('show_trick', {'slug': trick.slug}) }}">{{ trick.title }}</a></h5>
            <p class="card-text">{{ trick.description }}</p>
        </div>
        <div class="card-footer text-center">
            <p>{{ trick.category.name }}</p>
        </div>
    </div>
</div>
