<!--footer start from here-->

<footer>
    <div class="container mt-5">
        <!-- Footer Elements -->
        <div class="row">
            <div class="col-md-12 col-sm-12 footer-col">
                <h6 class="heading7">Snowtricks</h6>
                <ul class="footer-social ">
                    <li><i class="fab fa-linkedin-in social-icon linked-in" aria-hidden="true"></i></li>
                    <li><i class="fab fa-facebook-f social-icon facebook" aria-hidden="true"></i></li>
                    <li><i class="fab fa-twitter social-icon twitter" aria-hidden="true"></i></li>
                    <li><i class="fab fa-google-plus-g social-icon google" aria-hidden="true"></i></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <p>
            © 2018 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> snowtricks.com</a>
        </p>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->